extends layout

block navbar
  nav.navbar.navbar-primary.navbar-fixed-top.bg-primary.navbar-expand-lg
    div.container
      a.navbar-brand.text-light(href='/') Sarahaha
      //
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon

        #navbarSupportedContent.collapse.navbar-collapse.justify-content-end

          ul.nav.justify-content-end.navbar-nav
            li.nav-item
              a.nav-link(href='#')
                img(src='http://via.placeholder.com/30x30')

            li.nav-item
              a.nav-link(href='#')
                img(src='http://via.placeholder.com/30x30')


              li.nav-item
                a.nav-link(href='#')
                  img(src='http://via.placeholder.com/30x30')


block content
  section
    div.container
      div.card
        div.card-body
          div.row
            div.col-md-4
              img.rounded-circle(src='/images/profile.png' id='profile')
            div.col-md-8
              h4.card-title Ghufron Fikrianto
              p.card-text.lead Graphic Designer x Developer
              p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              #social-container
                a(href='https://www.instagram.com/ghufronfikri/')
                  img(src='/images/instagram.png' id='social')
                a(href='https://www.facebook.com/ghufronfr')
                  img(src='/images/facebook.png' id='social')
                a(href='https://twitter.com/ghufronfikri')
                  img(src='/images/twitter.png' id='social')

          form(action='',id='msg-form', data-parsley-validate='')
            .form-group
              label(for='exampleInputEmail1') Leave a constructive message :)
              textarea#message-box.form-control(type='text' name='message-box' rows='10', required='', data-parsley-maxlength='500', maxlength='500')

            button.btn.btn-primary( id='button-submit') Submit

        //
          #success_message.alert.alert-success.bs-callout.bs-callout-info.hidden(role='alert')
            | Success
            i.glyphicon.glyphicon-thumbs-up
            |  Thanks for contacting us, we will get back to you shortly.
