doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='Ghufron Fikrianto')
    meta(name="theme-color" content="#006fe6")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/scripts/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')


  body
    block navbar
    block content

    script(src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js")
    
    script(src='/scripts/jquery.min.js', type='text/javascript')
    script(src='/scripts/umd/popper.min.js', type='text/javascript')
    script(src='/scripts/js/bootstrap.min.js', type='text/javascript')
    script(src='/javascripts/sarahah.js', type='text/javascript')
