doctype html
html
  head
    title= title
    meta(charset='utf-8')
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='author', content='Ghufron Fikrianto')
    meta(name="theme-color" content="#006fe6")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/scripts/css/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/animate.min.css')


  body
  block navbar

    nav.navbar.navbar-primary.navbar-fixed-top.bg-primary.navbar-expand-lg.animated.slideInDown
      div.container
        a.navbar-brand.text-light(href='/')
          img.d-inline-block.align-top(src='images/paper-plane.png', width="30", height="30", alt="")
          |   Sarahaha
        //
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon

          #navbarSupportedContent.collapse.navbar-collapse.justify-content-end

            ul.nav.justify-content-end.navbar-nav
              li.nav-item
                a.nav-link(href='#')
                  img(src='http://via.placeholder.com/30x30')

              li.nav-item
                a.nav-link(href='#')
                  img(src='http://via.placeholder.com/30x30')


                li.nav-item
                  a.nav-link(href='#')
                    img(src='http://via.placeholder.com/30x30')

    block navbar
    block content

    script(src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js")

    script(src='/scripts/jquery.min.js', type='text/javascript')
    script(src='/scripts/umd/popper.min.js', type='text/javascript')
    script(src='/scripts/js/bootstrap.min.js', type='text/javascript')
    script(src='/javascripts/sarahah.js', type='text/javascript')
