extends layout

block content
  section
    #form-container.container
      #form-login.col-md-6
        div.card.animated.zoomIn
          div.card-body
            h1.text-center Admin Login
            form(name='admin-login',id='admin-login')
              div.form-group
                label(for="username") Username
                input.form-control(type='text', placeholder='Enter email',id='username')
              div.form-group
                label(for="password") Password
                input.form-control(type='password', placeholder='Enter email',id='password')
            button.btn.btn-primary(type="submit") Submit
