
section{
  margin-top: 120px;
}
#nav-logo{
  width: 36px;
}
.navbar-brand{
  font-weight: 400;
  font-size: 30px;
  font-family: 'Roboto', sans-serif !important;
}
.col-md-4{
text-align: center;
}

.col-md-8{
margin: auto;
}
.card-body{
  padding: 3rem !important;
}

#social{
  margin-right: 16px;
  width: 30px;
}

#profile{
  width: 200px;
}

.form-group{
  margin-top: 32px;
}
.form-control{
    background-color: #e6f2ff !important;
}
.container{
  margin: auto;
}

@media only screen and (max-width : 768px) {
  section{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .card-body{
    padding: 1rem !important;
  }
  .card-title , .card-text, .form-group, #social-container{
    text-align: center;
  }
  #button-submit{
    width: 100%;
  }
  .navbar-brand{
    width: 100%;
    text-align: center;
    margin: 0 !important;
    font-size: 24px;
  }
  .col-md-8{
    padding-top: 16px;
  }

}

#success_message{ display: none;}
